adfrmc2023/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adfrmc2023"
		},
		"az_cuenta_blobftp_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"az_cuenta_blobftp\""
		},
		"az_db01_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"az_db01\""
		},
		"azbsprueba_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"azbsprueba\""
		},
		"pruebaCorreo_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"pruebaCorreo\""
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Validation1",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "PersonapruebaCorreo",
								"type": "DatasetReference",
								"parameters": {}
							},
							"timeout": "0.12:00:00",
							"sleep": 10
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Validation1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PersonapruebaCorreo",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "salidaPruebaCorreo",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "envioCorreo",
						"description": "Se envia el correo conjuntamente con el Logic App , prueba para este procesamiento para su uso en el proyecto",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-94.eastus.logic.azure.com:443/workflows/669e2dd16e6542c3989a53ca65a16b96/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=-dx5EHfdOaa59HwgBRxx6dIAnR0yrHIdM2Z158hlCQM",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"title\":\"PIPELINE RUN TERMINADO\",\n\"message\":\"DEMO TERMINADA\",\n\"color\":\"Green\",\n\"dataFactoryName\":\"@{pipeline().DataFactory}\",\n\"pipelineName\":\"@{pipeline().Pipeline}\",\n\"pipelineRunId\":\"@{pipeline().RunId}\",\n\"time\":\"@{utcNow()}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PersonapruebaCorreo')]",
				"[concat(variables('factoryId'), '/datasets/salidaPruebaCorreo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azbsprueba",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_primera_prueba"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ClienteEDD_20230602.csv",
						"container": "raw-edd"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "TipoPersona|TipoDocumento|NumeroDocumento|CodigoPersona|NombreCompleto|FechaNacimiento|Pais|EstadoCivil|",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azbsprueba')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_01_sqldb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_db01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_primera_prueba"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "TipoPersona",
						"type": "varchar"
					},
					{
						"name": "TipoDocumento",
						"type": "varchar"
					},
					{
						"name": "NumeroDocumento",
						"type": "varchar"
					},
					{
						"name": "CodigoPersona",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "PERSONA"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_db01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_db01_destino')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_db01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_db01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv_destino_01')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azbsprueba",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_primera_prueba"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "procesada-edd"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azbsprueba')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ftp__enviado01')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_cuenta_blobftp",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_FTP"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "envios"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_cuenta_blobftp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/parquet_dest_01')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azbsprueba",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_primera_prueba"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "procesada-edd"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azbsprueba')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_cuenta_blobftp')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Cuenta donde almacenar la FTP",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('az_cuenta_blobftp_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_db01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Base de datos , para completar varias tablas",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('az_db01_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/azbsprueba')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service para crear la conexion con el Blobstorage de prueba ",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('azbsprueba_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pruebaCorreo')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('pruebaCorreo_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PersonapruebaCorreo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "pruebaCorreo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dsTrabaCorreo"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ClienteEDD_20230602.csv",
						"container": "raw-edd"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "TipoPersona|TipoDocumento|NumeroDocumento|CodigoPersona|NombreCompleto|FechaNacimiento|Pais|EstadoCivil|ZonaGeograficaDpto|Direccion|Telefono|CorreoElectronico|Profesion|GiroEconomico|GrupoEconomico|RepresentanteLegal|FechaRegistro",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/pruebaCorreo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/salidaPruebaCorreo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "pruebaCorreo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dsTrabaCorreo"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "raw-edd-out"
					},
					"columnDelimiter": "|",
					"compressionCodec": "ZipDeflate",
					"compressionLevel": "Optimal",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/pruebaCorreo')]"
			]
		}
	]
}